mess.*
DataAnalysis.*
Visualisation.*
*.swp
advanced.py
*.csv
!data.csv
*.xlsx
*.asv
*.zip
*.JPG
*.PNG
*.mp4
*.weights
*.pth
*.pb
*.npy
*.joblib
a.py
*.h5

/CV/final_submission/
/CV/cv/
/*/__pycache__/
/*/.ipynb_checkpoints/*
